body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.dev-navbar{
    background-color: black;
    padding: 10px;
}
.dev-navbar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.dev-navbar a:hover, .dev-navbar a:focus, .dev-navbar a:active{
    text-decoration: underline;
}