.dev-switch-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    height: 300px;
}